In [3]:
import sklearn
from sklearn.model_selection import train_test_split#训练集测试集划分
from sklearn.linear_model import LinearRegression#导入线性回归模型
from sklearn.preprocessing import StandardScaler,MinMaxScaler#数据标准化/归一化
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from pandas import DataFrame
import time

In [4]:
#设置字符集，防止中文乱码在画图中出现
# mpl.rcParams['font.sans-serif']=[u'simHei']
# mpl.RcParams['axes.unicode_minus']=False

In [5]:
#加载数据
#日期、时间、有功功率、无功功率、电压
path1='datas/household_power_consumption_1000.txt'
df=pd.read_csv(path1,sep=';',low_memory=False)#没有混合类型的时候，可以通过low_memory=False调用更多内存，加快效率

In [6]:
df.head()
df.tail()#显示后五行数据

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
995,17/12/2006,09:59:00,2.296,0.054,238.13,9.6,0.0,0.0,0.0
996,17/12/2006,10:00:00,2.292,0.054,238.03,9.6,0.0,0.0,0.0
997,17/12/2006,10:01:00,0.370,0.000,240.26,2.4,0.0,0.0,0.0
998,17/12/2006,10:02:00,0.472,0.000,240.15,2.4,0.0,0.0,0.0
999,17/12/2006,10:03:00,3.054,0.060,237.55,13.4,0.0,0.0,18.0

In [7]:
# 异常数据处理（异常数据过滤）
new_df=df.replace('?',np.nan)#将非法字符替换为np.nan
datas=new_df.dropna(axis=0,how='any')#只要又一个数据为空，就进行行删除
datas.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.0,1000.000000,1000.000000
mean,2.418772,0.089232,240.03579,10.351000,0.0,2.749000,5.756000
std,1.239979,0.088088,4.08442,5.122214,0.0,8.104053,8.066941
min,0.206000,0.000000,230.98000,0.800000,0.0,0.000000,0.000000
25%,1.806000,0.000000,236.94000,8.400000,0.0,0.000000,0.000000
50%,2.414000,0.072000,240.65000,10.000000,0.0,0.000000,0.000000
75%,3.308000,0.126000,243.29500,14.000000,0.0,1.000000,17.000000
max,7.706000,0.528000,249.37000,33.200000,0.0,38.000000,19.000000

In [11]:
# 创建时间函数格式化字符串
def date_format(dt):
    t=time.strptime(' '.join(dt),'%d/%m/%Y %H:%M:%S')
    return (t.tm_year,t.tm_mon,t.tm_mday,t.tm_hour,t.tm_min,t.tm_sec)

In [13]:
#得倒所需特征X以及对应的目标Y，并且将特征X对应的时间转换为数值型连续变量
X=datas.iloc[:,0:2]
X=X.apply(lambda x:pd.Series(date_format(x)),axis=1)
Y=datas["Global_active_power"]
X

        0   1   2   3   4  5
0    2006  12  16  17  24  0
1    2006  12  16  17  25  0
2    2006  12  16  17  26  0
3    2006  12  16  17  27  0
4    2006  12  16  17  28  0
5    2006  12  16  17  29  0
6    2006  12  16  17  30  0
7    2006  12  16  17  31  0
8    2006  12  16  17  32  0
9    2006  12  16  17  33  0
10   2006  12  16  17  34  0
11   2006  12  16  17  35  0
12   2006  12  16  17  36  0
13   2006  12  16  17  37  0
14   2006  12  16  17  38  0
15   2006  12  16  17  39  0
16   2006  12  16  17  40  0
17   2006  12  16  17  41  0
18   2006  12  16  17  42  0
19   2006  12  16  17  43  0
20   2006  12  16  17  44  0
21   2006  12  16  17  45  0
22   2006  12  16  17  46  0
23   2006  12  16  17  47  0
24   2006  12  16  17  48  0
25   2006  12  16  17  49  0
26   2006  12  16  17  50  0
27   2006  12  16  17  51  0
28   2006  12  16  17  52  0
29   2006  12  16  17  53  0
..    ...  ..  ..  ..  .. ..
970  2006  12  17   9  34  0
971  2006  12  17   9  35  0
972  2006  12  17   9  36  0
973  2006  12  17   9  37  0
974  2006  12  17   9  38  0
975  2006  12  17   9  39  0
976  2006  12  17   9  40  0
977  2006  12  17   9  41  0
978  2006  12  17   9  42  0
979  2006  12  17   9  43  0
980  2006  12  17   9  44  0
981  2006  12  17   9  45  0
982  2006  12  17   9  46  0
983  2006  12  17   9  47  0
984  2006  12  17   9  48  0
985  2006  12  17   9  49  0
986  2006  12  17   9  50  0
987  2006  12  17   9  51  0
988  2006  12  17   9  52  0
989  2006  12  17   9  53  0
990  2006  12  17   9  54  0
991  2006  12  17   9  55  0
992  2006  12  17   9  56  0
993  2006  12  17   9  57  0
994  2006  12  17   9  58  0
995  2006  12  17   9  59  0
996  2006  12  17  10   0  0
997  2006  12  17  10   1  0
998  2006  12  17  10   2  0
999  2006  12  17  10   3  0

[1000 rows x 6 columns]

In [15]:
# 对数据集进行训练集测试集划分
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [17]:
# 对数据进行标准化操作
ss=StandardScaler()
X_train=ss.fit_transform(X_train)
X_test=ss.transform(X_test)