In [9]:
import sklearn
from sklearn.model_selection import train_test_split#训练集测试集划分
from sklearn.linear_model import LinearRegression#导入线性回归模型
from sklearn.preprocessing import StandardScaler,MinMaxScaler#数据标准化/归一化
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from pandas import DataFrame
import time

In [10]:
#设置字符集，防止中文乱码在画图中出现
# mpl.rcParams['font.sans-serif']=[u'simHei']
# mpl.RcParams['axes.unicode_minus']=False

In [11]:
#加载数据
#日期、时间、有功功率、无功功率、电压
path1='datas/household_power_consumption_1000.txt'
df=pd.read_csv(path1,sep=';',low_memory=False)#没有混合类型的时候，可以通过low_memory=False调用更多内存，加快效率

In [12]:
df.head()
df.tail()#显示后五行数据

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
995,17/12/2006,09:59:00,2.296,0.054,238.13,9.6,0.0,0.0,0.0
996,17/12/2006,10:00:00,2.292,0.054,238.03,9.6,0.0,0.0,0.0
997,17/12/2006,10:01:00,0.370,0.000,240.26,2.4,0.0,0.0,0.0
998,17/12/2006,10:02:00,0.472,0.000,240.15,2.4,0.0,0.0,0.0
999,17/12/2006,10:03:00,3.054,0.060,237.55,13.4,0.0,0.0,18.0

In [14]:
# 异常数据处理（异常数据过滤）
new_df=df.replace('?',np.nan)#将非法字符替换为np.nan
datas=new_df.dropna(axis=0,how='any')#只要又一个数据为空，就进行行删除
datas.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.0,1000.000000,1000.000000
mean,2.418772,0.089232,240.03579,10.351000,0.0,2.749000,5.756000
std,1.239979,0.088088,4.08442,5.122214,0.0,8.104053,8.066941
min,0.206000,0.000000,230.98000,0.800000,0.0,0.000000,0.000000
25%,1.806000,0.000000,236.94000,8.400000,0.0,0.000000,0.000000
50%,2.414000,0.072000,240.65000,10.000000,0.0,0.000000,0.000000
75%,3.308000,0.126000,243.29500,14.000000,0.0,1.000000,17.000000
max,7.706000,0.528000,249.37000,33.200000,0.0,38.000000,19.000000

In [1]:
# 创建时间函数格式化字符串
def date_format(dt):
    t=time.strptime(' '.join(dt),'%d/%m/%Y %H:%M:%S')
    return (t.tm_year,t.tm_mon,t.tm_mday,t.tm_hour,t.tm_min,t.tm_se)

In [ ]:
#得倒所需特征X以及对应的目标Y，并且将特征X对应的时间转换为数值型连续变量